{% extends 'test/base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello test! ✅</h1>

        This friendly message is coming from:
        <ul>

            {% for team in teams %}
                <li>
                    id:{{ team.id }} <br>
                    billing-id:{{ team.billingId }} <br>
                    user.id:{{ team.user.id }} <br>
                    user.name:{{ team.user.name.full }} <br>
                    user.email:{{ team.user.email.value }} <br>

                    owner.id:{{ team.owner.id }} <br>
                    team members count:{{ team.members.count }} <br>
                </li>

                <ul>
                    {% for member in team.members %}
                        <li>
                            {{ member.id }}
                        </li>
                    {% endfor %}

                </ul>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
