{% extends 'base.html.twig' %}

{% block title %}Sip account{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="{{ path('billing.team', {team: sipAccount.member.team.id }) }}">Team</a>
        </li>
        <li class="breadcrumb-item"><a
                    href="{{ path('billing.team.member', {member: sipAccount.member.id }) }}">Member</a></li>
        <li class="breadcrumb-item">Sip account</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4>Info</h4>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row"><label for="label">Label</label>
                    <td>
                        <div class="d-inline-flex w-20em">
                            <input type="text" value="{{ sipAccount.label }}" id="label" class="ml-1 form-control">
                            <button class="btn btn-dark btn-sm" data-for="label" is="x-auto-save-button"
                                    data-save="{{ path('billing.team.member.sipAccount.label', { member: sipAccount.member.id,sipAccount: sipAccount.id }) }}"
                                    data-csrf="{{ csrf_token("billing.team.member.sipAccount.label") }}">
                                <i class="fa-save fa"></i>
                            </button>
                        </div>
                    </td>
                </tr><tr>
                    <th scope="row"><label for="label">Wait time</label>
                    <td>
                        <div class="d-inline-flex w-20em">
                            <input type="number" min="15" max="90" value="{{ sipAccount.waitTime }}" id="waitTime" class="ml-1 form-control" placeholder="{{ sipAccount.defaultData.waitTime }}">
                            <button class="btn btn-dark btn-sm" data-for="waitTime" is="x-auto-save-button"
                                    data-save="{{ path('billing.team.member.sipAccount.waitTime', { member: sipAccount.member.id,sipAccount: sipAccount.id }) }}"
                                    data-csrf="{{ csrf_token("billing.team.member.sipAccount.waitTime") }}">
                                <i class="fa-save fa"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('x-auto-save-button') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('x-auto-save-button') }}
{% endblock %}
