<section class="mb-3">
    <h4>Members</h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#
            <th scope="col">Number
            <th scope="col">Internal number
            <th scope="col">Login
            <th scope="col">Role
            <th scope="col">Status
        <tbody>
        {% for member in members %}
            <tr>
                <th scope="row"><a
                            href="{{ path('billing.team.member', {member:member.id  }) }}">{{ member.label?:member.id }}</a>
                <td>{{ member.number }}
                <td>{{ member.internalNumber }}
                <td>{{ member.login }}
                <td>{{ member.role.name }}
                <td><label class="switch switch-label switch-pill switch-success">
                        <input type="checkbox" class="switch-input" {{ member.active?"checked" }}
                                {{ member.role.isOwner() ? "disabled" }}
                                {{ member.activated ?: "disabled" }}
                               is="x-auto-toggler"
                               data-on="{{ path('billing.team.member.activate', {member: member.id }) }}"
                               data-off="{{ path('billing.team.member.block', {member: member.id }) }}"
                               data-csrf="{{ csrf_token("billing.team.member.toggleStatus") }}"
                        >
                        <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
            </tr>
        {% endfor %}
    </table>
    <div class="actions">
        <form action="{{ path('billing.team.addMember') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('b.t.a') }}">
            <button class="btn btn-primary" name="op" value="add">Add member</button>
        </form>
    </div>
</section>